@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    background-image: linear-gradient(to bottom, #5f2c82, #49a09d);
  }

  section#login {
    height: 250px;
    width: 90vw;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }

  section#login > div#imagem {
    border-radius: 15px 0px 0px 15px;
    height: 250px;
    width: 400px;

    background-position: right bottom;
  }
  input {
    width: 320px;
  }
  .button {
    width: 370px;
  }
}
@media screen and (min-width: 992px) {
  body {
    background-image: linear-gradient(to bottom, #5f2c82, #49a09d);
  }

  section#login {
    height: 300px;
    width: 800px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }

  section#login > div#imagem {
    border-radius: 0px 20px 20px 0px;
    height: 300px;
    width: 290px;
    float: right;
    background-position: right top;
  }

  input {
    top: 5px;
    color: white;
    height: 40px;
    width: 420px;
  }
  .button {
    height: 40px;
    width: 460px;
  }
}
