@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    background-image: linear-gradient(to bottom, #5f2c82, #49a09d);
  }

  section#login {
    height: 280px;
    width: 80vw;
  }

  section#login > div#imagem {
    float: left;
    border-radius: 15px 0px 0px 15px;
    height: 100%;
    width: 30%;
    background-position: right bottom;
  }
  section#login > div#formulario {
    padding: 5px;
    float: right;
    width: 70%;
  }
}
@media screen and (min-width: 992px) {
  body {
    background-image: linear-gradient(to bottom, #5f2c82, #49a09d);
  }

  section#login {
    height: 350px;
    width: 950px;
  }

  section#login > div#imagem {
    border-radius: 0px 20px 20px 0px;
    height: 100%;
    width: 50%;
    float: right;
    background-position: right top;
  }
  section#login > div#formulario {
    padding: 5px;
    float: left;
    width: 50%;
  }
  div#formulario > h1 {
    font-size: 2em;
  }
  div#formulario > p {
    font-size: 1em;
    margin: 20px 0px;
  }
}
