@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    position: relative;
    background-color: aquamarine;
  }
  section {
    display: flex;
    height: 250px;
    width: 600px;
  }
  main {
    transform: translate(-15%, 130%);
    left: 25%;
    height: 250px;
    width: 600px;
  }
  #formulario {
    width: 400px;
  }
  #imagem {
    border-radius: 15px 0px 0px 15px;
    height: 250px;
    width: 200px;
    float: top;
    background-position: bottom right;
  }
  input {
    width: 338px;
  }
  .button {
    width: 390px;
  }
}
@media screen and (min-width: 992px) {
  body {
    position: relative;
    background-color: lightblue;
  }
  section {
    flex-direction: row-reverse;
    display: flex;
  }
  main {
    transform: translate(-50%, 110%);
    left: 50%;
    top: 50%;
    height: 300px;
    width: 800px;
  }

  #imagem {
    border-radius: 0px 15px 15px 0px;
    height: 300px;
    width: 400px;
    float: top;
    background-position: right top;
  }
  #formulario {
    width: 400px;
  }
  label {
    color: white;
    padding: 13px;
  }
  input {
    top: 5px;
    margin: 5px;
    color: white;
    top: 10px;
    height: 40px;
    width: 320px;
  }
  .button {
    margin: 5px;
    height: 40px;
    width: 390px;
  }
  .button:hover {
    color: black;
    background-color: white;
  }
}
